.App {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.board {
  height: 80vmin;
  width: 80vmin;

  display: flex;
  flex-direction: column;

  .row {
    flex-grow: 1;
    display: flex;

    .square {
      border: 1px solid #3c4144;
      flex-grow: 1;

      svg {
        height: 100%;
        width: 100%;
      }
      
      circle {
        fill: transparent;
        stroke: #088eb1;
        stroke-width: 2;
      }

      path {
        fill: #f41414;
      }
    }
  }
}
