.App {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.board {
  height: 80vmin;
  width: 80vmin;

  display: flex;

  position: relative;

  .col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .square {
      border: 1px solid #3c4144;
      flex-grow: 1;
      max-height: calc( 100% / 3 - 2px );

      svg {
        height: 100%;
        width: 100%;
      }
      
      circle {
        fill: transparent;
        stroke: #088eb1;
        stroke-width: 2;
      }

      path {
        fill: #f41414;
      }
    }
  }

  svg.WinningLine {
    position: absolute;

    line {
      stroke-width: 1;

      &.OOO {
        stroke: green;
      }
      &.XXX {
        stroke: orange;
      }
    }
  }
}
