.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: column;
  width: 80vmin;
  height: 80vmin;
  margin: 10vmin auto;

  .row {
    display: flex;
    flex-grow: 1;

    .square {
      border: 1px solid black;
      flex-grow: 1;

      &.my-win {
        background-color: #04c2a080;
      }
      &.opp-win {
        background-color: #c204a080;
      }
      &.hint {
        background-color: pink;
      }


      path {
        fill: red;
      }

      circle {
        stroke-width: 1;
        stroke: teal;
        fill: transparent;
      }
    }
  }
}
